
/* Add top margin to the <body> tag */
body {
  display: block; /* Make sure it's block-level so margin-top has an effect */
  margin-top: 16rem; /* Adjust value as needed to create space */
}

.navbar-custom .avatar-container {
  position: absolute;
  left: 50%;
  width: 12.5rem;
  bottom: -9rem;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
}

/* Make main image larger */
@media (min-width: 1200px) {
  .navbar-custom.top-nav-regular .avatar-container {
    width: 12.5rem;
    bottom: -9rem;
  }

/* Make shadow main image larger */
  .navbar-custom.top-nav-regular .avatar-container .avatar-img-border {
    width: 100%;
    {% unless site.round-avatar == false %}
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
    {% endunless %}
  }

  /* .navbar-custom.top-nav-regular .avatar-container .avatar-img {
    width: 100%;
  }
} */
/* Make font title smaller */
.intro-header .page-heading h1 {
  font-size: 4rem;
}
